<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>文件编辑</title>
	<link rel="stylesheet" href="__ADMIN__/lib/layui/css/layui.css">
	
</head>
<body>
<form action=""   method="post">
	

      <textarea name="code"  style="height:550px" placeholder="请输入内容" class="layui-textarea">{$code}</textarea>

	  <div class="layui-form-item">
	    <div class="layui-input-block">
	      <button class="layui-btn" lay-submit lay-filter="formDemo">保存</button>
	    </div>
	  </div>

</form>

<script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>

</body>
</html>
