<!DOCTYPE html>
<html class="x-admin-sm">
    
    <head>
        <meta charset="UTF-8">
        <title>欢迎页面-X-admin2.2</title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
        <link rel="stylesheet" href="__ADMIN__/css/font.css">
        <link rel="stylesheet" href="__ADMIN__/css/xadmin.css">
		<script src="https://cdn.bootcdn.net/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="__ADMIN__/lib/webuploader/webuploader.css" />
        <script type="text/javascript" src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
        <script type="text/javascript" src="__ADMIN__/js/xadmin.js"></script>
		<script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/ueditor.config.js"></script> 
		<script type="text/javascript" src="__ADMIN__/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
		<script type="text/javascript" src="__ADMIN__/lib/webuploader/webuploader.js"></script> 
   </head>
    
    <body>
	
        <div class="layui-fluid">
		
            <div class="layui-row">
			
                <form class="layui-form"   enctype="multipart/form-data" >
				
				
				
				
				
				<div class="layui-tab">
				
				
								  <ul class="layui-tab-title">
									<li class="layui-this">资质设置</li>
									<li>SEO设置</li>
									<li>内容设置</li>
								 
								  </ul>
								  
								  
								  
					
								  
								  <div class="layui-tab-content">
								  
								  
								  <!---111--->
									<div class="layui-tab-item layui-show">
									
									       
																 <div class="layui-form-item">
																 
																			<label class="layui-form-label"><span class="x-red">*</span>所属栏目</label>
																			<div class="layui-input-inline">
																			  <select name="cate_id" lay-verify="required">	
																		       <option value="">请选择所属栏目</option>
																				{volist name="data"  id="vo"}
																				 <option value="{$vo.cid}">{$vo.level|str_repeat='----',###}{$vo.name}</option>
																				 {/volist}
																			  </select>
																			</div>
																</div>
																		
														
														
															<div class="layui-form-item">
																<label for="username" class="layui-form-label">
																	<span class="x-red">*</span>资质标题：</label>
																<div class="layui-input-block">
																	<input type="text" id="title" name="title" lay-verify="required|title" autocomplete="off" class="layui-input"></div>
															</div>
															
															
															
															
														<div class="layui-form-item">
																<label for="username" class="layui-form-label">
																	<span class="x-red">*</span>作者：</label>
																<div class="layui-input-inline">
																	<input type="text"  name="author"  value="admin"   lay-verify="required" autocomplete="off" class="layui-input"></div>
															</div>


															<div class="layui-form-item">
																<label class="layui-form-label">(首页)置顶：</label>
																<div class="layui-input-block">
																  <input type="radio" name="sex" value="1" title="是">
																  <input type="radio" name="sex" value="2" title="否" checked>
																</div>
															  </div>
															  
																	
	                                                            <div class="layui-form-item">
																<label class="layui-form-label">是否发布：</label>
																<div class="layui-input-block">
																  <input type="radio" name="types" value="1" title="是" checked>
																  <input type="radio" name="types" value="2" title="否" >
																</div>
															  </div>

							
																<div class="layui-form-item">
																	<label for="username" class="layui-form-label">
																	
																		<span class="x-red">*</span>缩略图</label>
																		<div class="layui-input-block">
																		
																					<div id="uploader-demo">
																							<!--用来存放item-->
																							<div id="fileList" class="uploader-list"></div>
																							<div id="filePicker">选择图片</div><span  style="color:red">(解决方案栏目下，所有图片尺寸440*330像素)</span>
																							
																							<div class="formControls col-xs-offset-4"   id="imgss"  style="width:270px;height:160px;border: 1px dashed #000;margin-top:20px"></div>


																				</div>	 

																		</div>
																</div>
																			


																			

									</div>
									  <!---111--->
									
									 <!---22222--->
									<div class="layui-tab-item">
									
									
										                  <div class="layui-form-item">
																<label for="username" class="layui-form-label">
																	<span class="x-red">*</span>SEO标题：</label>
																<div class="layui-input-block">
																	<input type="text"  name="seoname"  autocomplete="off" class="layui-input"></div>
														</div>
															
																
																
												 <div class="layui-form-item">
													<label for="username" class="layui-form-label">
														<span class="x-red">*</span>关键词：</label>
													<div class="layui-input-block">
														<input type="text" id="keywords" name="keywords"   placeholder="此处是为了提高网站被百度搜索到的几率，不显示在网站前端---例如：青岛市幼儿园,李沧区幼儿园推荐,青山绿水儿童之家,等等相关的词语-中间用,隔开"   autocomplete="off" class="layui-input"></div>
												</div>




							  
													<div class="layui-form-item layui-form-text">
													<label class="layui-form-label">描述：</label>
													<div class="layui-input-block">
													  <textarea name="description" placeholder=" 请大致用一句或者几句简单概括一下本页面的内容。"      class="layui-textarea"></textarea>
													</div>
												  </div>
							  

									
									</div>
									
									 <!---22222--->
									 
									  <!---3333--->
									<div class="layui-tab-item">
									
									
															
															
										<div class="layui-form-item layui-form-text">
												<label class="layui-form-label">内容：</label>
												<div class="layui-input-block">
												<script id="container" type="text/plain"  name="content" style="width:100%;height:400px;"></script> 
												</div>
												
										 </div>
															
									
										 <div class="layui-form-item">
													<label for="username" class="layui-form-label">
														<span class="x-red"></span></label>
													<div class="layui-input-block">
												</div>
										</div>
									
									
									</div>
									 <!---3333--->

								  </div>
								  
								  
								  
								  
								  
								  
				</div>
				
				
				
				
				
				
				
				
				
				
						
					


        <div class="layui-form-item">
            <label for="L_repass" class="layui-form-label"></label>
            <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
        </form>
        </div>
        </div>
		
	
        <script>
		layui.use(['form', 'layer','element'],
            function() {
                $ = layui.jquery;
                var form = layui.form,
                layer = layui.layer;
				var element = layui.element;


				
                //自定义验证规则
                form.verify({
                    title: function(value) {
                        if (value.length > 30) {
                            return '标题不能大于30个字符';
                        }
                    },
					   //自定义验证规则
              
                    description: function(value) {
                        if (value.length > 200) {
                            return '描述不能大于200个字符';
                        }
                    },
             
                });

        //监听提交
          form.on('submit(add)', function(data){
            //发异步，把数据提交给php
              $.post("{:url('/admin/zizhi')}",data.field,function(res){
                if(res.status=='success'){
                    layer.alert(res.msg, {icon: 6},function () {
                        parent.location.reload();
                        // 获得frame索引
                        var index = parent.layer.getFrameIndex(window.name);
                        //关闭当前frame
                        parent.layer.close(index);
                    });
                }else{
                    layer.msg(res.msg);
                }
              },'json');
            return false;
          });

            });
		
</script>
      <!-- 实例化编辑器 -->
<script type="text/javascript">
        var ue = UE.getEditor('container');
 </script> 


<script type="text/javascript">

      // 初始化Web Uploader
      var uploader = WebUploader.create({

    // 选完文件后，是否自动上传。
      auto: true,

    // swf文件路径
    swf:  '/static/admin/lib/webuploaderUploader.swf',

    // 文件接收服务端。
    server: '{:url('/admin/zizhiImg')}',

    // 选择文件的按钮。可选。
    // 内部根据当前运行是创建，可能是input元素，也可能是flash.
    pick: '#filePicker',
	
		
});

// 文件上传成功，给item添加成功class, 用样式标记上传成功。
uploader.on( 'uploadSuccess', function(file,data ) {
    
if(data.status=='fail'){
   $('#imgss').html('<span style="color:red">'+data.info+'</span>');
}else{

$('#imgss').html('<img src=/'+data.info+'  style="width:260px;height:150px"  ><input type="hidden"  name="pic" value="/'+data.info+'">');

}


});


 </script>
 
 
</body>

</html>